<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :report_type %>
    <%= form.number_field :report_type %>
  </div>

  <div class="field">
    <%= form.label :vm_amount %>
    <%= form.number_field :vm_amount %>
  </div>

  <div class="field">
    <%= form.label :output %>
    <%= form.text_field :output %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
